@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "wireframe";
  --color-primary: oklch(60% 0.20 100);
  --color-secondary: oklch(70% 0.25 200);
}
